{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% block styles %}

<style>
* {
    margin: 0;
    padding: 0;
    text-transform: none;
    text-decoration: none;
    box-sizing: border-box;
}

h1{
    margin:10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    margin: 20px;
    padding: 20px;
    width: 100px;
    height: 100px;
    border: 6px solid #1d3557;
    border-radius: 20px;
}

</style>

{% endblock %}

{% block content %}    
<center>
    <h1><span class="badge bg-primary">Projects</span></h1>
</center>

<div class="container">
    

    <div class="icon">
        <a href="carina" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/4616/4616759.png"></a>
    </div>
    
    <div class="icon">
        <a href="weather" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1789/1789206.png"></a>
    </div>
    
    <div class="icon">
        <a href="crypto" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1366/1366938.png"></a>
    </div>

</div>

<div class="container">

    <div class="icon">
        <a href="quiz" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/5705/5705144.png"></a>
    </div>

</div>

{% endblock %}