{% extends 'base.html' %}
{% load static %}
{% block title %} Weather {% endblock %}

{% block styles %}
<style>
* {
margin: 0;
padding: 0;
text-decoration: none;
text-transform: none;
border-box: none;
}

body {
height: 100%;
}

.inputBox{
display: flex;
flex-direction: row;
width: 69%;
margin: 40px 0px 0px 70px;
}

#location {
border: 1px solid black;
}

.btn {
border: 1px solid black;
}

.resultBox {
margin: 40px 0 0 70px;
}

#mainBox {
width: 85%;
border: 1px solid black;
border-radius: 29px;
padding: 18px 9px 9px 9px;
}

#mainBox h3 {
text-align: center;
}

#mainResult {
display: flex;
flex-direction: row;
}

#mainResult h2 {
margin-top: 29px;
}

#mainResult img {
margin-left: 20px;
}

#mainBox #weather {
justify-content: center;
text-align: center;
}

.time {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.time h5 {
margin-right: 10%;
}

.result, .type {
margin-top: 10px;
width: 85%;
border: 1px solid black;
border-radius: 29px;
padding: 9px;
display: flex;
flex-direction: row;
}

.type {
margin-bottom: 10px;
display: flex;
justify-content: center;
}

.result .label{
width: 30%;
}

.label img {
margin-left: 9px;
}

</style>
{% endblock %}

{% block content %}
<form  class="formBox">
{% csrf_token %}
<div  class="inputBox">
<input type="text" placeholder="Enter a location"  class="form-control"  id="location" autocomplete="off">
<button type="submit"  class="btn btn-send"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
</form>
<div  class="resultBox">
    
</div>

<script>
const formBox = document.querySelector(".formBox");
const resultBox = document.querySelector(".resultBox");
const btn = document.querySelector(".inputBox button");
let currentWeather;
let forecastWeather;
let weatherStatus;

function changeType() {
    let weatherStatusLabel = document.querySelector(".type div");
    if ( weatherStatus === "current"){
        weatherStatusLabel.innerHTML = "Current Weather";
        weatherStatus = "forecast";
        getForecastWeather();
    }else{
        weatherStatusLabel.innerHTML = "5-Day Forecast";
        weatherStatus = "current";
        getCurrentWeather();
    }
}

function getCurrentWeather() {
        document.body.style.backgroundColor = currentWeather.theme;
        document.body.style.color = currentWeather.font_color;
        if (currentWeather.font_color === "white"){
        btn.innerHTML = `<i class="fas fa-search" style="color: #ffffff;"></i>`
        }else{
        btn.innerHTML = `<i class="fa-solid fa-magnifying-glass"></i>`
        }
        document.querySelector("#location").style.backgroundColor = currentWeather.theme;
        document.querySelector("#location").style.color = currentWeather.font_color;
        resultBox.innerHTML = `<div class="type" onclick="changeType()">
    <div>⬅️ 5-Day Forecast ➡️</div>
</div>
        <div  id="mainBox">
        <h3>${currentWeather.location}</h3>
        <div  id="mainResult">
            <h2>${currentWeather.temperature}</h2>
            <img src=${currentWeather.weather_image} width="100" height="100"></img>
        </div>
        <div class="time">
        <h5>${currentWeather.date}</h5>
        <h5>${currentWeather.current_time}</h5>
        </div>
    </div>
    <div  class="result">
        <div  class="label">Weather</div>
        <div>: ${currentWeather.weather}</div>
    </div>
    <div  class="result">
        <div  class="label">Feels Like</div>
        <div>: ${currentWeather.feels_like}</div>
    </div>
    <div  class="result">
        <div  class="label">Humidity</div>
        <div>: ${currentWeather.humidity}</div>
    </div>
    <div  class="result">
        <div  class="label">Wind</div>
        <div>: ${currentWeather.wind}</div>
    </div>
    `;
}

function getForecastWeather(){
    document.body.style.backgroundColor = forecastWeather.theme;
        document.body.style.color = forecastWeather.font_color;
        document.querySelector("#location").style.backgroundColor = forecastWeather.theme;
        document.querySelector("#location").style.color = forecastWeather.font_color;
        if (forecastWeather.font_color === "white"){
        btn.innerHTML = `<i class="fas fa-search" style="color: #ffffff;"></i>`
        }else{
        btn.innerHTML = `<i class="fa-solid fa-magnifying-glass"></i>`
        }
        resultBox.innerHTML = `<div class="type" onclick="changeType()">
    <div>⬅️ Current Weather ➡️</div>
</div>
        <div  id="mainBox">
        <h3>${currentWeather.location}</h3>
        <div  id="mainResult">
            <h2>${forecastWeather.temp[0]}°C</h2>
            <img src=${forecastWeather.weather_image[0]} width="100" height="100"></img>
        </div>
        <div class="time">
        <h5>2023-${forecastWeather.date[0]}</h5>
        <h5>${forecastWeather.time}</h5>
        </div>
        <div  id="weather">${forecastWeather.weather[0]}
        </div>
    </div>
    <div  class="result">
        <div  class="label">${forecastWeather.date[1]}<br><img src=${forecastWeather.weather_image[1]} width="20" height="20"></img></div>
        <div>${forecastWeather.temp[1]}°C<br>${forecastWeather.weather[1]}</div>
    </div>
    <div  class="result">
        <div  class="label">${forecastWeather.date[2]}<br><img src=${forecastWeather.weather_image[2]} width="20" height="20"></img></div>
        <div>${forecastWeather.temp[2]}°C<br>${forecastWeather.weather[2]}</div>
    </div>
    <div  class="result">
        <div  class="label">${forecastWeather.date[3]}<br><img src=${forecastWeather.weather_image[3]} width="20" height="20"></img></div>
        <div>${forecastWeather.temp[3]}°C<br>${forecastWeather.weather[3]}</div>
    </div>
    <div  class="result">
        <div  class="label">${forecastWeather.date[4]}<br><img src=${forecastWeather.weather_image[4]} width="20" height="20"></img></div>
        <div>${forecastWeather.temp[4]}°C<br>${forecastWeather.weather[4]}</div>
    </div>
    `;
}

formBox.addEventListener('submit', (event) => {
    event.preventDefault();
    
    const location = document.getElementById("location").value;
    if (location === ""){
        return;
    }
    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'location': location
      })
    })
      .then(response => response.json())
      .then(data => {
        currentWeather = data.current_results;
        forecastWeather = data.forecast_results;
        weatherStatus = "current"
        document.querySelector("#location").value = "";
        if (currentWeather.valid === false){
        resultBox.innerHTML = `<div  id="mainBox">
        <h3>Invalid location '${olocation}' !</h3>
        </div>`;
        }else{
            document.body.style.backgroundColor = currentWeather.theme;
        document.body.style.color = currentWeather.font_color;
        if (currentWeather.font_color === "white"){
        btn.innerHTML = `<i class="fas fa-search" style="color: #ffffff;"></i>`
        }else{
        btn.innerHTML = `<i class="fa-solid fa-magnifying-glass"></i>`
        }
        document.querySelector("#location").style.backgroundColor = currentWeather.theme;
        document.querySelector("#location").style.color = currentWeather.font_color;
        resultBox.innerHTML = `
        <div class="type" onclick="changeType()">
            <div>⬅️ 5-Day Forecast ➡️</div>
        </div>
        <div  id="mainBox">
        <h3>${currentWeather.location}</h3>
        <div  id="mainResult">
            <h2>${currentWeather.temperature}</h2>
            <img src=${currentWeather.weather_image} width="100" height="100"></img>
        </div>
        <div class="time">
        <h5>${currentWeather.date}</h5>
        <h5>${currentWeather.current_time}</h5>
        </div>
    </div>
    <div  class="result">
        <div  class="label">Weather</div>
        <div>: ${currentWeather.weather}</div>
    </div>
    <div  class="result">
        <div  class="label">Feels Like</div>
        <div>: ${currentWeather.feels_like}</div>
    </div>
    <div  class="result">
        <div  class="label">Humidity</div>
        <div>: ${currentWeather.humidity}</div>
    </div>
    <div  class="result">
        <div  class="label">Wind</div>
        <div>: ${currentWeather.wind}</div>
    </div>
    `;
        }
      });
});
</script>
{% endblock%}